body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    
}

.container{
    width: 1170px;
    margin: 0 auto;
}
p{
    line-height: 1.6em;
}
.header{
    padding-top: 60px;
    padding-bottom: 72px;
    background: rgb(80, 191, 255);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
}

.logo{
    margin-bottom: 10px;
}

.wrapper{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items:center;
}

.offer{
    width: 580px;
}

.title{
    font-size: 37px;
    font-weight: bold;
    width: 570px;
}

.title span{
    font-size: 59px;
}

.intro{
    font-family: 'Open Sans', sans-serif;    
    font-size: 16px;
    width: 410px;
    padding-bottom: 20px;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    background: #ffd429;
    font-size: 15px;
    color: black;
    display: block;
    width: 222px;
    padding: 22px 0;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}

.btn:hover{
    background: #71c598;

}


.future{
    padding-top: 105px;
    padding-bottom: 120px;
}
h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 55px;
}

.wishlist{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h3{
    font-size: 19px;
}

.wish{
    text-align: center;
    width: 307px;
}

.form__tiket{
    background: #ecf3f8;
    padding: 105px 0 105px 0;
}

.form{
    text-align: center;
}

input{
    display: block;
    margin: 0 auto 15px;
    width: 343px;
    padding-left: 20px;
    height: 48px;
}

.form__btn{
    width: 368px;
    height: 56px;
    font-family: 'Montserrat', sans-serif;
    background: #ffd429;
    font-size: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
}

.form__btn:hover{
    background: #71c598;
}

.footer{
    background-color: #164d7a;
    padding: 62px 0 62px 0;
}

.footer__text{
    text-align: center;
    color: #ffff;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 960px;
    }
    .wrapper{
        flex-direction: column;
    }
    .offer{
        width: 100%;
    }
    .title, .intro{
        width: auto;
        text-align: center;
    }
    .btn{
        margin: 0 auto;
    }
    .desktop{
        width: 640px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 992px) {
    .container{
        width: 720px;
    }
    .wishlist{
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .wish{
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    .container{
        width: 540px;
    }
    .desktop{
        width: 100%;
    }
    .wishlist{
        flex-direction: column;
    }
    .wish{
        width: auto;
    }
}
@media screen and (max-width: 576px) {
    .container{
        width: 90%;
    }
    .form__btn{
        width: 86%;
    }
    input {
        width: 80%;
    }
    .btn{
        width: 86%;
    }
}

